#select-model {
    text-align: center;
    margin-bottom: 2em;
}

#invader {
    margin: auto;
}

.pixel {
    width: 20px;
    height: 20px;
    display: table-cell;
}

.pixel.empty {
    background-color: black;
}

.pixel.plain {
    background-color: white;
}

.pixel.light {
    background-color: red;
}

.pixel.highlight {
    background-color: green;
}

.pixel.fof {
    background-color: #F0F;
}